html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  font-family:
    Tahoma;
  font-style: italic;
  font-weight: bolder;
  color: rgb(255, 166, 0);
  overflow-x: hidden;

  background: #00247e;
  background-image: radial-gradient(#002d9e 1px, transparent 0);
  background-size: 5px 5px;
  background-position: -19px -19px;

  hyphens: auto;
}

a {
  color: rgb(255, 166, 0);
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.mainblock {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mainblock,
img {
  max-width: 1000px;
  width: 100%;
}

/* topbar ------------------------------ */
.topbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  column-gap: 10%;
  justify-content: flex-start;
  min-width: 100%;
}

.topbar img {
  max-width: 35px;
  min-width: 10%;
}

/* ........................................ */


.embedtube {
  margin: auto;
  width: 90%;
  aspect-ratio: 16 / 9;
}

.logo {
  border-bottom: 1px solid;
  padding-bottom: 5px;
}

/* Footer --------------------*/
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 5px;
  justify-content: space-between;
  border-top: 1px solid;
  min-height: 50px;
  gap: 7px;
}

.bottombar {
  width: 40%;
  min-width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottombar img {
  max-width: 25px;
  min-width: 10%;
}

.footerlogo {
  max-width: 40%;
}

.copyright {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 40%;
  min-width: 250px;
  max-width: 300px;
}

/* ---------------------------------- */

/* Puhelimen näyttö esim n. 550px leveä */
@media (max-width: 550px) {}