html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;

  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-weight: 900;
  word-spacing: 0.5em;
  letter-spacing: 0.2em;
  line-height: 1.5em;
  font-size: 100%;

  --font-color: rgb(255, 166, 0);
  color: var(--font-color);

  --shadow-color: rgb(44, 29, 0);
  /* -webkit-text-stroke: 0.5px var(--shadow-color);
   */
  text-shadow: 2px 2px 0 var(--shadow-color), -1px -1px 0 var(--shadow-color),
    1px -1px 0 var(--shadow-color), -1px 1px 0 var(--shadow-color),
    1px 1px 0 var(--shadow-color);

  background: #2a3c64;
  background-image: radial-gradient(#2a4990 1px, transparent 0);
  background-size: 5px 5px;
  background-position: -19px -19px;

  hyphens: auto;
}

a {
  color: var(--font-color);
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.mainblock {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.mainblock,
img {
  max-width: 1000px;
  width: 100%;
}

/* topbar ------------------------------ */

.calltogroups {
  width: 100%;
}

.calltogroups > h2 {
  text-align: center;
}

.calltogroups > div {
  margin: 0 auto 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, 175px);
  grid-gap: 1em 0.5em;
  justify-content: center;
}

.callbutton {
  text-decoration: none;

  box-shadow: 2px 2px 2px gray;

  background-color: rgb(255, 103, 47);
  color: #362fb8;
  border-radius: 2%;
  --shadow-color: rgb(179, 250, 255);
  /* -webkit-text-stroke: 0.5px var(--shadow-color);
   */
  text-shadow: 2px 2px 0 var(--shadow-color), -1px -1px 0 var(--shadow-color),
    1px -1px 0 var(--shadow-color), -1px 1px 0 var(--shadow-color),
    1px 1px 0 var(--shadow-color);

  display: flex;
  align-items: center;
  gap: 5%;

  width: 100%;
  min-height: 50px;
}

.callbutton img {
  margin-left: 5px;
  max-width: 100%;
  max-height: 100%;
  width: 20%;
}

/* ........................................ */

.embedtube {
  margin: auto;
  width: 90%;
  aspect-ratio: 16 / 9;
  max-height: 90vh;
}

.logo {
}

.line {
  border-bottom: 1px solid;
  padding-bottom: 5px;
}

summary {
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */
}

details > p {
  border-top: solid;
  border-bottom: solid;
  padding: 5px 0;
}

/* Footer --------------------*/
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 5px;
  justify-content: space-between;
  border-top: 1px solid;
  min-height: 50px;
  gap: 7px;
  min-width: 90%;
}

.bottomicons {
  width: 40%;
  min-width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottomicons img {
  max-width: 25px;
  min-width: 10%;
}

.footerlogo {
  max-width: 40%;
}

.copyright {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 15px;
  max-width: 100%;
}

/* ---------------------------------- */

/* Puhelimen näyttö esim n. 550px leveä */
@media (max-width: 550px) {
}
